body {
    color: #090b04;
    background-color: #fbfcf7;
    font-family: "IM Fell DW Pica Pica", serif;
}

.navbar {
    padding: 0.5rem 2rem;
}

.navbar-brand {
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: bold;
    font-size: 1.8rem;
}

h2 {
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 900;
    font-size: 2rem;
    margin-top: 2rem;
}

.d-flex {
    margin: 0;
}

.form-control {
    background-color: #9db6490d;
}

table {
    border-radius: 1rem;
}

.table {
    --bs-table-bg: #9db6490d;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn:hover {
    transition-property: all;
    transition-duration: 0.1s;
    scale: 1.05;
}

.btn:active {
    scale: 1;
}

td a {
    text-decoration: none;
    cursor: pointer;
}